#Page404{
    & .my_left_bar {
        width: 250px;
    }
    & .title {
        color: hsla(0, 0%, 77%, 1);
    }

    & .my_container {
        position: relative;
        height: 100vh;
        width: 100%;
        background-color: hsla(210, 5%, 13%, 1);
        & .container{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;

            & .error-template {
                & > * {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

}
